{% extends 'client/bootstrap.html' %}

{% load bootstrap4 static %}

{% block bootstrap4_extra_head %}
    {% block header %}
    {% endblock %}
{% endblock %}

{% block bootstrap4_content %}
    {% block navbar %}
    {% endblock %}
    <h1 class="window-title">{% block title %}(no title){% endblock %}</h1>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    {% block content %}(no content){% endblock %}
{% endblock %}

{% block bootstrap4_after_content %}
{% endblock %}

{% block bootstrap4_extra_script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.js"></script>
    {# {% include 'autocomplete_light/static.html' %} #}
    <script src="{% static 'client/js/global.js' %}"></script>
{% endblock %}