{% extends 'client/base.html' %}

{% load bootstrap4 staticfiles %}

{% block bootstrap4_extra_head %}
  <link rel="stylesheet/less" type="text/css" href="{% static 'client/css/client.less' %}" />
  <link rel="stylesheet/css" type="text/css" href="{% static 'client/css/flippant.css' %}" />
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      {{ request.user.avatar.name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link inventory-cmd" href="#">inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link password-cmd" href="#">passwd</a>
        </li>
        {% if request.user.wizard %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">admin</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:logout' %}?next=/">logout</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div id="observations">
  </div>
  <div id="command-line">
    <input type="text" id="connection" class="client-prompt" placeholder="What do you want to do?" />
  </div>
  <div id="actions">
  </div>
{% endblock %}

{% block bootstrap4_extra_script %}
  {{ block.super }}
  <script src="{% static 'client/js/flippant.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'client/js/relative-date.js' %}"></script>
  <script type="text/javascript" src="{% static 'client/js/client.js' %}"></script>
  {% for script_url in scripts %}
  <script type="text/javascript" src="{{ script_url }}"></script>
  {% endfor %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#connection').antioch({
        listen: true,
        callback: function(){
          $('#connection').antioch('callRemote', 'parse', {sentence: 'look here'});
        },
      
        actions_selector: "#actions",
      
        players_wrapper_node: '<div class="players-list"></div>',
        players_list_node: '<ul></ul>',
        player_list_item_node: '<li class="btn btn-small"></li>',
        player_image_node: '<div class="player-image"></div>',
        player_image_template: "<img src=\"$content\" >",
        default_image_node: '<img src="{% static 'client/images/silhouette.png' %}" >',
        player_name_node: '<div class="player-name"></div>',
        player_mood_node: '<div class="player-mood"></div>',
        people_here_node: '<strong>people here:</strong>',
      
        contents_wrapper_node: '<div class="contents-list"></div>',
        contents_list_node: '<ul></ul>',
        content_list_item_node: '<li class="btn btn-small"></li>',
        contents_here_node: '<strong>obvious contents:</strong>',
        clear_both_node: '<br style="clear: both;"/>',
      });
    
      $('.inventory-cmd').click(function(){
        $('#connection').antioch('callRemote', 'parse', {sentence: 'look me'});
      });
    
      $('.description-cmd').click(function(){
        $('#connection').antioch('callRemote', 'parse', {sentence: 'edit description on me'});
      });
    
      $('.password-cmd').click(function(){
        $('#connection').antioch('callRemote', 'parse', {sentence: 'passwd'});
      });
    
      setInterval(function(){
        $('.keep-relative').each(function(){
          var dstr = $(this).find('.real-date').html();
          $(this).find('.relative-date').html(relativeDate(new Date(dstr)));
        });
      }, 10);
    });
  </script>
{% endblock %}

