<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.min.js"></script>
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>
{% block header %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
{% block footer %}{% endblock %}
</html>