{% extends 'base.html' %}

{% block header %}
	{{ media }}
	<script src="{{ STATIC_URL }}/js/relative-date/lib/relative-date.js"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">antioch</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#">client</a></li>
					<li><a href="https://github.com/philchristensen/antioch" target="_blank">github</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar %}
	<div class="current-player">
		<div class="player-image">
			<img src="/assets/images/silhouette.png" >
		</div>
		<h2>{{ request.user.avatar.name }}</h2>
		<ul>
			<li><a class="inventory-cmd">inventory</a></li>
			<li><a class="description-cmd">description</a></li>
			<li><a class="password-cmd">change password</a></li>
			<li><a href="/logout">logout</a></li>
			{% if request.user.wizard %}
			<li><a href="/admin" target="_blank">administration</a></li>
			{% endif %}
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div id="command-line">
		<input type="text" id="connection" class="client-prompt" placeholder="What do you want to do?" />
	</div>
	<div id="actions">
	</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#connection').antioch({
			listen: true,
			callback: function(){
				$('#connection').antioch('callRemote', 'parse', {sentence: 'look here'});
			},
			
			actions_selector: "#actions",
			
			observation_template: "<div class=\"alert alert-info\"></span>",
			issued_command_template: "<div class=\"alert\">$content</div>",
			error_template: "<div class=\"alert alert-error\">$content</div>",
			message_template: "<div class=\"well\">$content</div>",
			
			players_wrapper_node: '<div class="players-list"></div>',
			players_list_node: '<ul></ul>',
			player_list_item_node: '<li class="btn btn-small"></li>',
			player_image_node: '<div class="player-image"></div>',
			player_image_template: "<img src=\"$content\" >",
			default_image_node: '<img src="/assets/images/silhouette.png" >',
			player_name_node: '<div class="player-name"></div>',
			player_mood_node: '<div class="player-mood"></div>',
			people_here_node: '<strong>people here:</strong>',
			
			contents_wrapper_node: '<div class="contents-list"></div>',
			contents_list_node: '<ul></ul>',
			content_list_item_node: '<li class="btn btn-small"></li>',
			contents_here_node: '<strong>obvious contents:</strong>',
			clear_both_node: '<br style="clear: both;"/>',
		});
		
		$('.inventory-cmd').click(function(){
			$('#connection').antioch('callRemote', 'parse', {sentence: 'look me'});
		});
		
		$('.description-cmd').click(function(){
			$('#connection').antioch('callRemote', 'parse', {sentence: 'edit description on me'});
		});
		
		$('.password-cmd').click(function(){
			$('#connection').antioch('callRemote', 'parse', {sentence: 'passwd'});
		});
		
		setInterval(function(){
			$('.keep-relative').each(function(){
				var dstr = $(this).find('.real-date').html();
				$(this).find('.relative-date').html(relativeDate(new Date(dstr)));
			});
		}, 10);
		
		{% for script_url in scripts %}
		$('body').append('\x3Cscript type="text/javascript" src="{{ script_url }}">\x3C/script>');
		{% endfor %}
	});
</script>
{% endblock %}