{% extends 'base.html' %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/client.css"/>
	<script type="text/javascript" src="{{ STATIC_URL }}js/client-support.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-1.4.2-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dimensions-1.1.2-min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.splitter-1.5.1.js"></script>
{% endblock %}

{% block content %}
	<div id="client">
	<div class="name">antioch</div>
	<div id="client-wrapper">
		<div id="top-pane">
			<div id="contents-area">
				<ul>
				<li class="look-me"><strong>&#171; myself</strong></li>
				<li class="look-here"><strong>&#171; my location</strong></li>
				</ul>
				<br/>
				<div class="contents">
				</div>
			</div>
			<div class="description"></div>
		</div>
		<div id="bottom-pane">
			<div id="actions"></div>
			<div id="prompt-area">
				<input type="text" class="client-prompt" size="80" />
			</div>
		</div>
	</div>
	</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
	$(document).ready(function(){
		// $('#client-wrapper').splitter({
		// 	type: 'h',
		// 	anchorToWindow: true,
		// 	sizeTop: true
		// });
		// $('#bottom-pane').splitter({
		// 	type: 'h',
		// });
	
		$('.client-prompt').keyup(handleKeyEvent);
	
		$('.look-me').click(function(){
			look('me');
		});
	
		$('.look-here').click(function(){
			look('here');
		});
		setTimeout(function() {
			listen(handleMessages);
		}, 500);
	});
</script>
{% endblock %}