@red: #AA0419;

@lightest_grey: #f3f3f3;
@lighter_grey: #e6e6e6;
@light_grey: #d3d3d3;
@medium_grey: #b6b5b5;
@dark_grey: #4f5a63;
@darkest_grey: #21272b;

.rounded-corners(@radius: 10px, @tl: @radius, @tr: @radius, @br: @radius, @bl: @radius) {
    -moz-border-radius: @tl @tr @br @bl;
    -webkit-border-top-left-radius: @tl;
    -webkit-border-top-right-radius: @tr;
    -webkit-border-bottom-right-radius: @br;
    -webkit-border-bottom-left-radius: @bl;
}

.embossed(@depth:1px, @basecolor:@medium_grey){
    background-color: @basecolor;
    border-width: @depth;
    border-top-color: lighten(@basecolor, 10%);
    border-right-color: darken(@basecolor, 10%);
    border-bottom-color: darken(@basecolor, 10%);
    border-left-color: lighten(@basecolor, 10%);
}

.gradient(@from_color:none, @to_color: none, @flat_color: none) {
    background: @flat_color;
    background: -moz-linear-gradient(top, @from_color, @to_color);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@from_color), to(@to_color));
}

.drop-shadow(@color:#b6b5b5, @x:3px, @y:4px, @blur:8px, @spread:0px) {
    -moz-box-shadow: @x @y @blur @spread @color;
    -webkit-box-shadow: @x @y @blur @color;
    box-shadow: @x @y @blur @spread @color;
}

.inner-shadow(@color:#b6b5b5, @x:3px, @y:4px, @blur:8px, @spread:0px) {
    -moz-box-shadow: inset @x @y @blur @spread @color;
    -webkit-box-shadow: inset @x @y @blur @color;
    box-shadow: inset @x @y @blur @spread @color;
}

.light-inner-shadow(@color:@lightest_grey, @x:3px, @y:4px, @blur:8px, @spread:0px) {
    -moz-box-shadow: inset @x @y @blur @spread @color;
    -webkit-box-shadow: inset @x @y @blur @color;
    box-shadow: inset @x @y @blur @spread @color;
}

.gradient-button (@font_size:1em, @text_color:white, @from_color:none, @to_color:none, @flat_color:none, @radius:3px, @shadow_color:grey, @x:3px, @y:4px, @blur:2px, @spread:0px) {
    font-size: @font_size;
    color: @text_color;
    padding: 11px 30px;
    cursor: pointer;
    border: none;
    .rounded-corners(@radius,@radius,@radius,@radius,@radius);
    .gradient(@from_color, @to_color, @flat_color);
    .drop-shadow(@shadow_color, @x, @y, @blur, @spread);
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: arial;
    font-weight: bold;
}

.opacity(@percentage:100) {
    opacity: @percentage/100;
    filter: alpha(opacity=@percentage);
}

.opacity-background(@color:@red, @opacity:0.5) {
    background-color: @opacity * @color + (1 - @opacity) * @white;
}

.highlight {
  .hll { background-color: #ffffcc }
  .c { color: #888888 } /* Comment */
  .err { color: #FF0000; background-color: #FFAAAA } /* Error */
  .k { color: #008800; font-weight: bold } /* Keyword */
  .o { color: #333333 } /* Operator */
  .ch { color: #888888 } /* Comment.Hashbang */
  .cm { color: #888888 } /* Comment.Multiline */
  .cp { color: #557799 } /* Comment.Preproc */
  .cpf { color: #888888 } /* Comment.PreprocFile */
  .c1 { color: #888888 } /* Comment.Single */
  .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
  .gd { color: #A00000 } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #FF0000 } /* Generic.Error */
  .gh { color: #000080; font-weight: bold } /* Generic.Heading */
  .gi { color: #00A000 } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
  .gt { color: #0044DD } /* Generic.Traceback */
  .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
  .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
  .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
  .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
  .kt { color: #333399; font-weight: bold } /* Keyword.Type */
  .m { color: #6600EE; font-weight: bold } /* Literal.Number */
  .s { background-color: #fff0f0 } /* Literal.String */
  .na { color: #0000CC } /* Name.Attribute */
  .nb { color: #007020 } /* Name.Builtin */
  .nc { color: #BB0066; font-weight: bold } /* Name.Class */
  .no { color: #003366; font-weight: bold } /* Name.Constant */
  .nd { color: #555555; font-weight: bold } /* Name.Decorator */
  .ni { color: #880000; font-weight: bold } /* Name.Entity */
  .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
  .nf { color: #0066BB; font-weight: bold } /* Name.Function */
  .nl { color: #997700; font-weight: bold } /* Name.Label */
  .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
  .nt { color: #007700 } /* Name.Tag */
  .nv { color: #996633 } /* Name.Variable */
  .ow { color: #000000; font-weight: bold } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
  .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
  .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
  .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
  .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
  .sa { background-color: #fff0f0 } /* Literal.String.Affix */
  .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
  .sc { color: #0044DD } /* Literal.String.Char */
  .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
  .sd { color: #DD4422 } /* Literal.String.Doc */
  .s2 { background-color: #fff0f0 } /* Literal.String.Double */
  .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
  .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
  .si { background-color: #eeeeee } /* Literal.String.Interpol */
  .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
  .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
  .s1 { background-color: #fff0f0 } /* Literal.String.Single */
  .ss { color: #AA6600 } /* Literal.String.Symbol */
  .bp { color: #007020 } /* Name.Builtin.Pseudo */
  .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
  .vc { color: #336699 } /* Name.Variable.Class */
  .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
  .vi { color: #3333BB } /* Name.Variable.Instance */
  .vm { color: #996633 } /* Name.Variable.Magic */
  .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
}

input#connection {
    width: 100%;
    margin: 0px 0px 0px 0px;
    font: 1.5em Courier, Courier New;
    font-weight: bold;
}

.contents-list,
.players-list {
    ul {
        list-style: none;
        margin-left: 5px;
        
        li {
            display: inline;
            margin-right: 10px;
        }
    }
}

.players-list {
    .player-name,
    .player-image,
    .player-mood {
        display: inline;
    }

    .player-image {
        img {
            width: 16px;
            padding: 0 4px 4px 0;
        }
    }
}

.inspection {
  .inherited li {
    display: inline;
    margin-right: 3px;
  }
}

h6.date {
  margin-top: 2px;
  margin-bottom: 5px;
  opacity: 0.3;
}


#observations {
    .jumbotron {
        padding: 10px;
    margin-bottom: 10px;
    }
}

#actions {
  .received-error + .issued-command,
  .received-message + .issued-command {
    margin-top: 0px;
    border-top-color: transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  .alert {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 10px;
  }

  .panel {
    margin-top: 10px;
    margin-bottom: 0px;
    .panel-body {
      padding: 0px 0px 0px 10px;
    }
  }

    .issued-command {
    margin-bottom: 10px;
    
    .date-container {
      display: none;
    }
    }
    
    .target-heard-public {
        color: #7f91c8;
    }

    .target-heard-private {
        color: #ab3e4c;
    }

    .source-said-public {
        color: #477a67;
    }

    .source-said-private {
        color: #ab3e4c;
    }
}