version: '2'
services:
  nginx:
    # # nginx gets noisy
    # logging:
    #   driver: none
    volumes:
      - .:/usr/src/app
  webapp:
    volumes:
      - .:/usr/src/app
    environment:
      DJANGO_SETTINGS_MODULE: antioch.settings.development
  worker:
    volumes:
      - .:/usr/src/app
    environment:
      DJANGO_SETTINGS_MODULE: antioch.settings.development
  beat:
    volumes:
      - .:/usr/src/app
    environment:
      DJANGO_SETTINGS_MODULE: antioch.settings.development
