[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-registration = "<3.0"
celery = {editable = true, ref = "563f23fc", git = "https://github.com/celery/celery"}
redis = "*"
python-memcached = "*"
kombu = "*"
django-storages = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
django-widget-tweaks = "*"
"django-bootstrap3" = "*"
"zope.interface" = "*"
Django = ">=2.1"
RestrictedPython = ">=4.0b5"
service_identity = "*"
uWSGI = "*"

[dev-packages]
pylint = "*"
django-nose = "*"
setuptools_git = "*"

[requires]
python_version = "3.7"
