[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django = "*"
django-autocomplete-light = "*"
django-bootstrap4 = "*"
django-extensions = "*"
django-nose = "*"
django-redis-cache = "*"
django-registration = "<3.0"
django-storages = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
kombu = "*"
mysqlclient = "*"
psycopg2-binary = "*"
python-memcached = "*"
redis = "*"
restrictedpython = "*"
service_identity = "*"
uwsgi = "*"
zappa = "*"
zappa-django-utils = "*"
zope-interface = "*"

[dev-packages]
awscli = "*"
django-nose = "*"
pylint = "*"
setuptools_git = "*"
awslogs = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
