[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-registration = "<3.0"
celery = {editable = true,ref = "563f23fc",git = "https://github.com/celery/celery.git"}
redis = "*"
python-memcached = "*"
kombu = "*"
django-storages = "*"
django-extensions = "*"
django-widget-tweaks = "*"
"django-bootstrap4" = "*"
"zope.interface" = "*"
Django = "*"
RestrictedPython = "*"
service_identity = "*"
uWSGI = "*"
"psycopg2-binary" = "*"
mysqlclient = "*"

[dev-packages]
pylint = "*"
django-nose = "*"
setuptools_git = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
