Django
django-registration
celery
redis
python-memcached
kombu
django-storages
RestrictedPython
django-extensions
psycopg2-binary
django-widget-tweaks
service_identity
django-bootstrap3
zope.interface
pylint
uwsgi
django-nose