<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
<style type="text/css">body{padding-top:60px;padding-bottom:40px;}</style>

{{ BOOTSTRAP_MEDIA }}

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/{{ JQUERY_VERSION }}/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/jquery-{{ JQUERY_VERSION }}.min.js"><\/script>')</script>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/{{ JQUERY_UI_VERSION }}/jquery-ui.min.js"></script>
<script>window.jQuery(document).draggable || document.write('<script src="{{ STATIC_URL }}/js/jquery-ui-{{ JQUERY_UI_VERSION }}.min.js"><\/script>')</script>

<script src="{{ STATIC_URL }}js/global.js"></script>

{% block header %}{% endblock %}
</head>
<body>
	{% block navbar %}
	{% endblock %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% block sidebar %}
			{% endblock %}
			<div class="{% block content_class %}span12{% endblock %}">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	{% block footer %}
	{% endblock %}

	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
</body>
</html>