<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
<style type="text/css">body{padding-top:60px;padding-bottom:40px;}</style>

{{ BOOTSTRAP_MEDIA }}

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script src="{{ STATIC_URL }}common/js/global.js"></script>

{% block header %}{% endblock %}
</head>
<body>
	{% block navbar %}
	{% endblock %}
	<div class="container-fluid">
		<div class="row-fluid">
			{% block sidebar %}
			{% endblock %}
			<div class="{% block content_class %}span12{% endblock %}">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	{% block footer %}
	{% endblock %}

	<script src="{{ STATIC_URL }}common/js/libs/bootstrap-3.0.3.min.js"></script>
</body>
</html>