body {
	margin: 10px;
	border: 0;
	padding: 0;
}

#message-log {
	color: #800;
	background-color: #eee;
	font-family: Courier, "Courier New", sans-serif;
	font-weight: bold;
	font-size: 10px;
	text-align: right;
}

#client {
	text-align: left;
	width: 100%;
	height: 100%;
}

#client-wrapper {
	text-align: left;
}

#top-pane {
	min-height: 100px;
	height: 300px;
}

#contents-area {
	width: 300px;
	float: right;
	background-color: #ccc;
	padding: 5px;
	overflow: auto;
	height: 100%;
}

#contents-area ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#contents-area li {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	clear: both;
}

#contents-area li:hover {
	background-color: #ddd;
	cursor: pointer;
}

#actions {
	background-color: black;
	color: #d0d0d0;
	font-family: Andale Mono, Courier, Courier New;
	overflow: auto;
	width: 100%;
	min-height: 100px;
}

.issued-command {
	color: #f5ff88;
}

.error-response {
	color: #d36b7f;
}

.target-heard-public {
	color: #7f91c8;
}

.target-heard-private {
	color: #ab3e4c;
}

.source-said-public {
	color: #477a67;
}

.source-said-private {
	color: #ab3e4c;
}

#prompt-area input {
	width: 100%;
	margin-top: 0px;
	font: 1.5em Courier, Courier New;
	font-weight: bold;
}

#players-list li {
	height: 66px;
}

#players-list {
	margin-bottom: 20px;
}

.hsplitbar {
	height: 5px;
	background: #aaa;
	cursor: pointer;
}

.name {
	font-size: 24px;
	font-weight: bold;
}

.description {
	background-color: #eee;
	overflow: auto;
	padding: 5px;
	height: 100%;
}

.player-name {
	font-size: 18px;
}

.player-mood {
	font-size: 10px;
}

.player-image {
	margin-right: 10px;
	width: 64px;
	height: 64px;
	float: left;
	overflow: hidden;
}

.player-image img {
	width: 64px;
	height: auto;
}

