{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <title>{{ title }}</title>
    
    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% block header %}
    {% endblock %}
  </head>

  <body>
    {% block navbar %}
    {% endblock %}

    {% bootstrap_messages %}
    
    <div class="page-container">
      <div class="container">
        <div class="row">
          <div class="{% block content_class %}col-xs-12{% endblock %}">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'common/js/libs/less-1.5.0.min.js' %}"></script>
    {# {% include 'autocomplete_light/static.html' %} #}
    {% bootstrap_javascript %}
    
    <script src="{% static 'common/js/global.js' %}"></script>
    
    {% block footer %}
    {% endblock %}
  </body>
</html>
